<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">AmCharts</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="chart1">Chart 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="chart2">Chart 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="chart3">Chart 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="chart4">Chart 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="map1">Map 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="map2">Map 2</a>
      </li>
    </ul>
  </div>
</nav>
