<!-- <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="chart4.component.js"></script> -->
<div id="controls" style="width: 100%; overflow: hidden">
  <div style="float: left; margin-left: 15px"></div>
  <div style="float: right; margin-right: 15px">
    <button id="b1m" class="amcharts-input">1m</button>
    <button id="b3m" class="amcharts-input">3m</button>
    <button id="b6m" class="amcharts-input">6m</button>
    <button id="b1y" class="amcharts-input">1y</button>
    <button id="bmax" class="amcharts-input">MAX</button>
  </div>
</div>
<div id="chartdiv"></div>
